@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border-box {
        @apply border-x-[1px] border-b-[1px] border-[#2F3336] px-4 py-3;
    }
    .outline-placeholder{
        @apply outline-none placeholder:text-[#6E767D];
    }
    .text-tweet {
        @apply text-[15px] leading-normal;
    }
    .flex-between {
        @apply flex justify-between;
    }
    .flex-items-center {
        @apply flex items-center;
    }
    /* .hoverf {
        @apply flex items-center justify-between rounded-full shadow-indigo-500/50;
    } */
}